body{
    background-color: black;
}


.container{
    color: white;
    text-align: center;
}

.allGiphyImages{
    margin-top: 20px;
}

.allGiphyImages img {
    max-width: 350px;
    padding: 10px;
}

button, input{
    padding: 10px;
    margin: 5px;
    color: white;
    border-radius: 5px;
    border: none;
}

#removeImages{
    background-color: red;
}

#searchGiphy{
    background-color: green;
}